<form method="post" action="/users">
    <h3>Create a Comment.</h3>
    <label><b>Body: </b></label>
    <input type="text" placeholder="Enter First Name" name="question[body]" required>
    <br />
    <label><b>Username: </b></label>
    <input type="text" placeholder="Enter Last Name" name="question[Poster]" required>
    <br />
    <div class="clearfix">
      <button type="submit" class="signupbtn">Post</button>
    </div>
  </div>
</form>
