<div class="container">
  <form method="post" action="/users">
    <h3>Create an account.</h3>

    <label><b>Email: </b></label>
    <input type="text" placeholder="Enter Email" name="user[email]" required>
    <br />

    <label><b>Password: </b></label>
    <input type="password" placeholder="Enter Password" name="user[password]" required>
    <br />
    <div class="clearfix">
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
  </form>
</div>
