
    <label><b>Body: </b></label>
    <input type="text" placeholder="body" name="post[body]" required>
    <br />
    <div class="clearfix">
      <button type="submit" class="signupbtn">Post</button>
    </div>
  </div>
</form>
