<form method="post" action="/users">
    <label><b>Title: </b></label>
    <input type="text" placeholder="Title" name="post[title]" required>
    <br />
    <label><b>Body: </b></label>
    <input type="text" placeholder="body" name="post[body]" required>
    <br />
    <div class="clearfix">
      <button type="submit" class="signupbtn">Post</button>
    </div>
  </div>
</form>
