<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>

<%if !logged_in?%>
  <nav class='navbar navbar-inverse'>
    <div class='container-fluid'>
      <div class='navbar-header'>
        <a class='navbar-brand' href='/'>DBC Overflow</a>
      </div>

     <ul class='nav navbar-nav' style='list-style: none' >


       <li class=''><a href='/sessions/new'>login</a></li>
        <li class=''><a href='/users/new'>register</a></li>
      </ul>
    </div>
  </nav>
<%else%>
  <nav class='navbar navbar-inverse'>
    <div class='container-fluid'>
      <div class='navbar-header'>
        <a class='navbar-brand' href='/'>DBC Overflow</a>
      </div>
      <ul class='' style='list-style: none' >
        <li class='invisible'>
        <form method = 'delete' action = '/sessions/logout'>
          <input type= 'hidden' name = '_method' value='delete'>
          <button type = 'submit'> Log out </button>
        </form>
     </ul>
    </div>
  </nav>
 <%end%>

<%= yield %>

</body>
</html>
